/* ==========
   Day 03 challenge

   Designing a responsive system page.

   1) Keep the text inside .intro-content 
      in the same place, but have the 
      background extend from the other, no
      matter how wide or narrow the browser
      is.

    2) Limit the maximum width of the text
       in the bottom area.
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.intro-container {
    background: #23424A;
    color: #fff;
    padding: 2em 0;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    width: 80%;
}

.intro-content {
    width: 50%;
}