/* ==========
   Day 09 challenge - flexbox (deep dive)

   Designing a responsive system page.

   
      

    1) Refer to the design specs for the 
       overall layout
       
    2) The image should line up with 
       the sidebar in the section 
       below.

    
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

img {
    max-width: 100%;
}

.hero-container {
    background: #23424A;
    color: #fff;
    padding: 2em 0;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 2.7em;
    padding-bottom: 1.75em;
    width: 80%;
}

.hero-text {
    width: 65%;
}

.hero-text h1 {
    font-size: 3rem;
}

.hero-text p {
    margin-bottom: 1.5em;
}

.btn {
    background: #38CFD9;
    border-radius: 100px;
    color: #3A3A3A;
    display: inline-block;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em .2em;
}

.btn:focus, .btn:hover {
    opacity: 0.75;
}

.row {
    display: flex;
    justify-content: space-between;
}

.hero-img {
    align-self: flex-start;
    margin-top: 2em;
    width: 32%;
}

.cus-content {
    width: 65%;
}

.cus-content h2 {
    color: #136C72;
    font-size: 2.2rem;
}

.cus-content p {
    color: #3A3A3A;
}

.experience {
    background: #136C72;
    color: #fff;
    flex-direction: column;
    text-align: center;
    width: 32%;
}

.experience .col {
    width: 100%;
    padding: 0 .5em;
}