/* ==========
   Day 12 challenge - flexbox multi-design page

   Designing a responsive system page
   and navigation.

   
      

    1) Get all the navigation items  
       next to one another
       
    2) Add a space between all the  
       items.

    
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Playfair Display', serif, sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background: #F3EED9;
    padding: 3em;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1128px;
}

.hero-text {
    color: #824936;
    text-align: center;
    width: 68%;
    margin: 0 auto;
}

.hero-span {
    font-size: 1.125rem;
    letter-spacing: 10px;
    /* margin-bottom: 0; */
    margin: 0;
    text-transform: uppercase;
}

.hero-text h1 {
    font-family: 'Playfair Display';
    font-size: 3.75rem;
}

.quality {
    /* min-height: 660px; */
    padding: 3em;
}

.quality-text h2 {
    color: #824936;
    font-family: 'Playfair Display';
    font-size: 2rem;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    align-self: flex-start;
    width: 45%;
}

.custom {
    background: #222C2A;
    color: #fff;
    padding: 3em;
}

.care {
    background: #824936;
    color: #fff;
    padding: 3em;
}

.img {
    align-self: flex-start;
    /*#824936*/
}